<h1 class="text-center">
    ガントチャート
</h1>

<div class="text-right">
    表示カテゴリ
</div>


<div id="gantt_here" style='width:100%; height:800px;'></div>
 
<script>
    gantt.config.date_format = "%Y-%m-%d";
    gantt.config.readonly = true; // 読み込み専用
    // gantt.config.details_on_create = true;
    gantt.config.scales = [
      {unit: "month", step: 1, format: "%Y-%m"},
      {unit: "day", step: 1, format: "%d"}
    ];
    var secondGridColumns = {
      columns: [
        {
            name: "parentTaskName", label: "親タスク名", width: 80, align: "center", 
            template: function (task) {
                return task.parentName;
            }
        },
        {
            name: "taskName", label: "タスク名", width: 80, align: "center", 
            template: function (task) {
                return task.text;
            }
        },
        {
            name: "startDate", width: 80, label: "開始日", align: 'center',
            template: function (task) {
                return task.start_date;
            }
        },
        {
            name: "endDate", width: 80, label: "終了日", align: 'center',
            template: function (task) {
                return task.end_date;
            }
        },
        {
            name: "priority", width: 80, label: "優先度", align: 'center',
            template: function (task) {
                return task.priority;
            }
        },
        {
            name: "status", width: 80, label: "ステータス", align: 'center',
            template: function (task) {
                return task.status;
            }
        }
      ]
    };

gantt.config.layout = {
 css: "gantt_container",
  rows: [
  {
   cols: [
    {view: "grid", width: 120, bind:"task", 
            scrollY:"scrollVer", config:secondGridColumns},
    {view: "timeline", id: "timeline", scrollX: "scrollHor", scrollY: "scrollVer"},
    {view: "scrollbar", id: "scrollVer"}
   ]
  },
  {view: "scrollbar", id: "scrollHor"}
 ]
};

    gantt.init("gantt_here");
    gantt.load("/gantt/data");
    
</script>